<ion-header>
  <ion-toolbar>
    <ion-title>
      Agenda de Contatos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-list>
    <ion-item>
      <ion-input label="Nome" placeholder="Insira o nome" [(ngModel)]="nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Telefone" placeholder="Insira o telefone" [(ngModel)]="telefone" type="number"></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="cadastrar()">Enviar</ion-button>
  </ion-list>

  <br />
  <hr>
  <br />
  <ion-list *ngFor="let contato of lista_contatos">
    <ion-item>
      <ion-label>{{contato.nome}}</ion-label>
      <ion-label>{{contato.telefone}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
